<div class="order">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Просмотр деталей заказа</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        <li class="breadcrumb-item"><a href="/orders">Заказы</a></li>
                        <li class="breadcrumb-item active">Детали заказа</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-3">
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="info-box mb-0" id="order-status-bg">
                                <span class="info-box-icon"><i class="fas" id="order-status-icon"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Статус</span>
                                    <span class="info-box-number" id="order-status-value">ПОДТВЕРЖДЕН</span>
                                </div>

                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <div class="card card-primary card-outline">
                        <div class="card-header text-center">
                            Исполнитель
                        </div>
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle" id="freelancer-avatar"
                                     src=""
                                     alt="User profile picture">
                            </div>

                            <h3 class="profile-username text-center" id="freelancer-name"></h3>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <a href="/orders/edit?id=" class="btn btn-warning w-100" id="edit-link">Редактировать</a>
                    <a href="/orders/delete?id=" class="btn btn-danger mt-2 w-100" id="delete-link">Удалить</a>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="info-box">
                                <span class="info-box-icon bg-info"><i class="far fa-calendar"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">План выполнения</span>
                                    <span class="info-box-number" id="schedule">00.00.0000</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info-box">
                                <span class="info-box-icon bg-success"><i class="far fa-calendar"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Дата выполнения</span>
                                    <span class="info-box-number" id="complete">00.00.0000</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info-box">
                                <span class="info-box-icon bg-warning"><i class="far fa-calendar"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Дедлайн</span>
                                    <span class="info-box-number" id="deadline">00.00.0000</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Подробности заказа № <strong id="number"></strong></h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <strong><i class="fas fa-list mr-1"></i> Описание</strong>
                            <p class="text-muted" id="description"></p>
                            <hr>

                            <strong><i class="fas fa-user mr-1"></i> Заказ создал</strong>
                            <p class="text-muted" id="owner"></p>
                            <hr>

                            <strong><i class="fas fa-dollar-sign mr-1"></i> Сумма заказа</strong>
                            <p class="text-muted" id="amount"></p>
                            <hr>

                            <strong><i class="fas fa-clock mr-1"></i> Добавлен на платформу</strong>
                            <p class="text-muted" id="created"></p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
