<div class="login-box">
    <div class="login-logo">
        <a href="javascript:void(0)">Freelance Studio</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Зарегистрировать нового пользователя</p>
            <span id="common-error" class="error invalid-feedback text-center mb-3">Не удалось зарегистрировать пользователя.
            Обратитесь в поддержку.</span>
            <form>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Имя" id="name">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                    <span id="name-error" class="error invalid-feedback">Заполните имя</span>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Фамилия" id="last-name">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                    <span id="last-name-error" class="error invalid-feedback">Заполните фамилию</span>
                </div>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Почта" id="email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                    <span id="email-error" class="error invalid-feedback">Введите корректый E-mail</span>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Пароль" id="password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    <span id="password-error" class="error invalid-feedback">Заполните пароль</span>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Повторите пароль" id="password-repeat">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    <span id="password-repeat-error" class="error invalid-feedback">Пароли не совпадают</span>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="icheck-primary">
                            <input type="checkbox" id="agree">
                            <label for="agree">
                                Я согласен с <a href="javascript:void(0)">условиями</a>
                            </label>
                            <span id="agree-error" class="error invalid-feedback">Необходимо согласиться с условиями</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary btn-block" id="process-button">Зарегистрироваться</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="social-auth-links text-center mb-3">
        <p>- ИЛИ -</p>
        <a href="/login" class="btn btn-block btn-warning">
            Войти в систему
        </a>
    </div>
</div>